@charset "UTF-8";
.protyle-wysiwyg [data-node-id].h1 {
  color: var(--mk-block-header-h1);
  display: flex;
}
.protyle-wysiwyg [data-node-id].h1::before {
  content: "#" " ";
}
.protyle-wysiwyg [data-node-id].h1[fold="1"]::before {
  content: "#" " ";
  position: unset;
  height: unset;
  width: unset;
  background: unset;
  left: unset;
  top: unset;
  border-radius: unset;
  margin-top: unset;
}

.sy__outline ul.b3-list.b3-list--background [data-subtype=h1],
ul.b3-list.b3-list--background [data-subtype=h1] .b3-list-item__text {
  color: var(--mk-block-header-h1);
}

.protyle-wysiwyg [data-node-id].h2 {
  color: var(--mk-block-header-h2);
  display: flex;
}
.protyle-wysiwyg [data-node-id].h2::before {
  content: "#" " ";
}
.protyle-wysiwyg [data-node-id].h2[fold="1"]::before {
  content: "#" " ";
  position: unset;
  height: unset;
  width: unset;
  background: unset;
  left: unset;
  top: unset;
  border-radius: unset;
  margin-top: unset;
}

.sy__outline ul.b3-list.b3-list--background [data-subtype=h2],
ul.b3-list.b3-list--background [data-subtype=h2] .b3-list-item__text {
  color: var(--mk-block-header-h2);
}

.protyle-wysiwyg [data-node-id].h3 {
  color: var(--mk-block-header-h3);
  display: flex;
}
.protyle-wysiwyg [data-node-id].h3::before {
  content: "#" " ";
}
.protyle-wysiwyg [data-node-id].h3[fold="1"]::before {
  content: "#" " ";
  position: unset;
  height: unset;
  width: unset;
  background: unset;
  left: unset;
  top: unset;
  border-radius: unset;
  margin-top: unset;
}

.sy__outline ul.b3-list.b3-list--background [data-subtype=h3],
ul.b3-list.b3-list--background [data-subtype=h3] .b3-list-item__text {
  color: var(--mk-block-header-h3);
}

.protyle-wysiwyg [data-node-id].h4 {
  color: var(--mk-block-header-h4);
  display: flex;
}
.protyle-wysiwyg [data-node-id].h4::before {
  content: "#" " ";
}
.protyle-wysiwyg [data-node-id].h4[fold="1"]::before {
  content: "#" " ";
  position: unset;
  height: unset;
  width: unset;
  background: unset;
  left: unset;
  top: unset;
  border-radius: unset;
  margin-top: unset;
}

.sy__outline ul.b3-list.b3-list--background [data-subtype=h4],
ul.b3-list.b3-list--background [data-subtype=h4] .b3-list-item__text {
  color: var(--mk-block-header-h4);
}

.protyle-wysiwyg [data-node-id].h5 {
  color: var(--mk-block-header-h5);
  display: flex;
}
.protyle-wysiwyg [data-node-id].h5::before {
  content: "#" " ";
}
.protyle-wysiwyg [data-node-id].h5[fold="1"]::before {
  content: "#" " ";
  position: unset;
  height: unset;
  width: unset;
  background: unset;
  left: unset;
  top: unset;
  border-radius: unset;
  margin-top: unset;
}

.sy__outline ul.b3-list.b3-list--background [data-subtype=h5],
ul.b3-list.b3-list--background [data-subtype=h5] .b3-list-item__text {
  color: var(--mk-block-header-h5);
}

.protyle-wysiwyg [data-node-id].h6 {
  color: var(--mk-block-header-h6);
  display: flex;
}
.protyle-wysiwyg [data-node-id].h6::before {
  content: "#" " ";
}
.protyle-wysiwyg [data-node-id].h6[fold="1"]::before {
  content: "#" " ";
  position: unset;
  height: unset;
  width: unset;
  background: unset;
  left: unset;
  top: unset;
  border-radius: unset;
  margin-top: unset;
}

.sy__outline ul.b3-list.b3-list--background [data-subtype=h6],
ul.b3-list.b3-list--background [data-subtype=h6] .b3-list-item__text {
  color: var(--mk-block-header-h6);
}

.protyle-title__input {
  text-align: center;
}

/* 块标动画 */
.protyle-gutters {
  transition: all 200ms ease-out;
}

.status {
  background-color: #3e78c9;
  box-sizing: border-box;
  z-index: 2;
  height: 32px;
  line-height: 32px;
  border-top: 0.5px solid var(--b3-border-color);
  padding: 0 5px;
  color: #ffffff;
}
.status * {
  color: #ffffff;
}

#barDock:hover {
  background-color: #5284c9 !important;
}

#statusHelp:hover {
  background-color: #5284c9 !important;
}

body.body--blur .toolbar {
  background: var(--mk-toolbar-background--blur);
}
body.body--blur .toolbar #drag {
  color: var(--mk-toolbar--blur-item);
}
body.body--blur .toolbar .toolbar__text {
  color: var(--mk-toolbar--blur-item);
}
body.body--blur .toolbar .toolbar__item {
  color: var(--mk-toolbar--blur-item);
}

.toolbar {
  background-color: var(--mk-toolbar-background);
  border-bottom: none;
}
.toolbar #drag {
  color: var(--mk-toolbar-item);
}
.toolbar .toolbar__text {
  color: var(--mk-toolbar-item);
  font-weight: bold;
}
.toolbar .toolbar__item {
  color: var(--mk-toolbar-item);
}

.toolbar__item:not(.toolbar__item--disabled):not(.toolbar__item--close):hover,
.toolbar__item--active {
  background-color: var(--mk-toolbar-item--hover);
}

/* 隐藏非必要元素 */
/* 隐藏右栏左侧线 */
/* .dock#dockLeft {
    border-right: none;
} */
/* 隐藏左栏右侧线 */
/* .dock#dockRight {
    border-left: none;
} */
/* 隐藏右面板右侧线 */
/* .layout__resize--lr {
    visibility: hidden;
} */
/* 隐藏奇怪的线 */
/* #layouts > div:nth-child(1){
    visibility: hidden;
} */
/*隐藏关闭按钮*/
.b3-dialog__close {
  display: none;
}

/*隐藏关系图*/
/* .b3-tooltips__w[data-type="graph"] {
    display: none;
} */
/*隐藏全局关系图*/
/* .b3-tooltips__w[data-type="globalGraph"] {
    display: none;
} */
/*隐藏块滚动条*/
.protyle-scroll {
  display: none;
}

.protyle-wysiwyg *::-moz-selection {
  background-color: var(--mk-protyle-wysiwyg--selection);
}

.protyle-wysiwyg *::selection {
  background-color: var(--mk-protyle-wysiwyg--selection);
}

body.body--blur .protyle-wysiwyg *::-moz-selection {
  background-color: var(--mk-protyle-wysiwyg--selection--blur);
}

body.body--blur .protyle-wysiwyg *::selection {
  background-color: var(--mk-protyle-wysiwyg--selection--blur);
}

.protyle-content:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}
.protyle-content::-webkit-scrollbar {
  width: 15px;
}
.protyle-content::-webkit-scrollbar-track {
  border: 1px solid var(--mk-protyle-content-scrollbar-track-border);
}
.protyle-content::-webkit-scrollbar-thumb {
  visibility: hidden;
  border-radius: 0;
  background: var(--mk-protyle-content-scrollbar-thumb);
  box-shadow: none;
}
.protyle-content::-webkit-scrollbar-thumb:hover {
  background: var(--mk-protyle-content-scrollbar-thumb--hover);
}
.protyle-content::-webkit-scrollbar-thumb:active {
  background: var(--mk-protyle-content-scrollbar-thumb--active);
}

.sy__file div.fn__flex-1 {
  overflow: auto;
}
.sy__file div.fn__flex-1:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}
.sy__file div.fn__flex-1::-webkit-scrollbar-track-piece {
  opacity: 0;
}
.sy__file div.fn__flex-1::-webkit-scrollbar-track {
  opacity: 0;
}
.sy__file div.fn__flex-1::-webkit-scrollbar-thumb {
  visibility: hidden;
  border-radius: 0;
  background: var(--mk-filetree-scrollbar-thumb);
  box-shadow: none;
}
.sy__file div.fn__flex-1::-webkit-scrollbar-thumb:hover {
  background: var(--mk-filetree-scrollbar-thumb--hover);
}
.sy__file div.fn__flex-1::-webkit-scrollbar-thumb:active {
  background: var(--mk-filetree-scrollbar-thumb--active);
}
.sy__file .b3-list--background .b3-list-item {
  border-radius: unset;
}
.sy__file .b3-list-item {
  padding: 1px 5px;
  margin: unset;
}

.layout__resize--lr::after {
  visibility: hidden;
}

.dock#dockLeft {
  border-right: none;
}

.dock#dockRight {
  border-left: none;
}

.dock#dockBottom {
  border-bottom: none;
}

.layout-tab-bar.layout-tab-bar--readonly {
  background-color: var(--mk-tabbar-background-color-item--readonly);
  border-bottom: none;
}

.layout-tab-bar {
  background-color: var(--mk-tabbar-background-color);
  border-bottom: none;
}

.layout-tab-bar .item.item--focus {
  background-color: var(--mk-tabbar-background-color-item--focus);
}

.layout-tab-bar .item.item--focus:after {
  display: none;
}

body.body--blur .layout-tab-bar .item.item--focus {
  box-shadow: none;
}

body.body--blur .layout-tab-bar .item.item--focus:after {
  display: none;
}

.protyle:not(:has(.protyle-content[data-scrolltop="0"])) .protyle-breadcrumb {
  box-shadow: 0px 5px 10px -10px grey;
}

.protyle:not(:has(.protyle-content[data-scrolltop="0"])):has(.protyle-content:not([data-scrolltop])) .protyle-breadcrumb {
  box-shadow: none;
} 
:root[data-theme-mode=light] {
  --mk-toolbar-background: #dddddd;
  --mk-toolbar-background--blur: #e5e5e5;
  --mk-toolbar--blur-item: #7b7b7b;
  --mk-toolbar-item: #333333;
  --mk-toolbar-item--hover: #bfbfbf;
  --mk-filetree-scrollbar-thumb: var(--mk-scrollbar-thumb);
  --mk-filetree-scrollbar-thumb--hover: var(--mk-scrollbar-thumb--hover);
  --mk-filetree-scrollbar-thumb--active: var(--mk-scrollbar-thumb--active);
  --mk-tabbar-background-color: #ececec;
  --mk-tabbar-background-color-item--readonly: #f3f3f3;
  --mk-tabbar-background-color-item--focus: #ffffff;
  --mk-protyle-wysiwyg--selection: #cddcf6;
  --mk-protyle-wysiwyg--selection--blur: #e6ebf1;
  --mk-protyle-content-scrollbar-track-border: var(--mk-scrollbar-track-border);
  --mk-protyle-content-scrollbar-thumb: var(--mk-scrollbar-thumb);
  --mk-protyle-content-scrollbar-thumb--hover: var(--mk-filetree-scrollbar-thumb--hover);
  --mk-protyle-content-scrollbar-thumb--active: var(--mk-filetree-scrollbar-thumb--active);
  --mk-scrollbar-track-border: #dcdcdc;
  --mk-scrollbar-thumb: #c1c1c1;
  --mk-scrollbar-thumb--hover: #929292;
  --mk-scrollbar-thumb--active: #666666;
  --mk-block-header-h1: #202124;
  --mk-block-header-h2: #2E75B5;
  --mk-block-header-h3: #BF9000;
  --mk-block-header-h4: #70AD47;
  --mk-block-header-h5: #E84C22;
  --mk-block-header-h6: #8064A2;
}

:root[data-theme-mode=dark] {
  --mk-toolbar-background: #3c3c3c;
  --mk-toolbar-background--blur: #323233;
  --mk-toolbar--blur-item: #8e8e8e;
  --mk-toolbar-item: #cccccc;
  --mk-toolbar-item--hover: #6f6f6f;
  --mk-filetree-scrollbar-thumb: var(--mk-scrollbar-thumb);
  --mk-filetree-scrollbar-thumb--hover: var(--mk-scrollbar-thumb--hover);
  --mk-filetree-scrollbar-thumb--active: var(--mk-scrollbar-thumb--active);
  --mk-tabbar-background-color: #2d2d2d;
  --mk-tabbar-background-color-item--readonly: #252526;
  --mk-tabbar-background-color-item--focus: #1e1e1e;
  --mk-protyle-wysiwyg--selection: #334e76;
  --mk-protyle-wysiwyg--selection--blur: #3b3d41;
  --mk-protyle-content-scrollbar-track-border: var(--mk-scrollbar-track-border);
  --mk-protyle-content-scrollbar-thumb: var(--mk-scrollbar-thumb);
  --mk-protyle-content-scrollbar-thumb--hover: var(--mk-filetree-scrollbar-thumb--hover);
  --mk-protyle-content-scrollbar-thumb--active: var(--mk-filetree-scrollbar-thumb--active);
  --mk-scrollbar-track-border: #393939;
  --mk-scrollbar-thumb: #424242;
  --mk-scrollbar-thumb--hover: #4f4f4f;
  --mk-scrollbar-thumb--active: #5e5e5e;
  --mk-block-header-h1: #cbd1d9;
  --mk-block-header-h2: #2E75B5;
  --mk-block-header-h3: #BF9000;
  --mk-block-header-h4: #70AD47;
  --mk-block-header-h5: #E84C22;
  --mk-block-header-h6: #8064A2;
}/*# sourceMappingURL=theme.css.map */