@use "sass:color";

// 构建标题混合器
@mixin header($number) {
  .protyle-wysiwyg [data-node-id].h#{$number} {
    color: var(--mk-block-header-h#{$number});
    display: flex;

    $header-content: "#";

    &::before {
      content: $header-content;
      margin-right: 0.2em;
    }

    &[fold="1"]::before {
      content: $header-content;

      // display: flex;
      position: static;
      height: 100% !important;
      width: unset;
      border-radius: unset;
      margin-top: unset;
      margin-right: 0.2em;
      background: var(--mk-block-header-background-h#{$number});
    }
  }

  .sy__outline ul.b3-list.b3-list--background [data-subtype="h#{$number}"],
  ul.b3-list.b3-list--background [data-subtype="h#{$number}"] .b3-list-item__text {
    color: var(--mk-block-header-h#{$number});
  }
}

// 使用标题混合器
@include header(1);
@include header(2);
@include header(3);
@include header(4);
@include header(5);
@include header(6);

.protyle-title__input {
  font-size: 2.5em;
}