/* 四周样式 */

/* 左右栏 */
/* .dock {
    background-color: var(--custom--background-color);
} */

/* 顶栏 */
/* 工具栏 */
/* .toolbar {
    background-color: var(--custom--background-color);
} */

/* 底栏 */
/* 状态栏 */
/*
.status {
    background-color: var(--custom--background-color);
}

.dock__item--active {
    color: var(--b3-theme-on-background);
}

.dock__item {
    padding: 4px;
    color: var(--b3-theme-on-surface-light);
    display: flex;
    border-radius: 2px;
    /* margin: 3px 8px; 
}
*/
/* .toolbar__item {
    color: var(--b3-theme-on-surface-light);
}

.layout-tab-container {
    margin: 0 5px 0 5px;
    background-color: var(--b3-theme-surface);
    border-color: var(--b3-theme-surface);
    border-radius: 8px;
}

.layout-tab-bar .item:hover:not(.item--focus):not(.item--readonly) {
    background-color: var(--b3-list-hover);
    box-shadow: none;
    border-radius: unset;
} */
