/* 左栏面板 */
/* .layout-tab-container {
    background-color: var(--b3-theme-surface);
    border-color: var(--b3-theme-surface);
} */

/* 编辑区标签面板 */
/* .layout-tab-bar {
    flex: unset;
    background-color: rgba(255,255,255, 1);
} */

/* .layout-tab-bar .item--focus,
.layout-tab-bar .item--focus:hover,
.layout-tab-bar .item--focus:focus,
.layout-tab-bar .item--focus:active {
    box-shadow: none;
    border-top: 2px solid #f65b00;
    border-radius: 4px;
    background-color: #f3f3f3;
    border-radius: 0%;
} */


/* .layout-tab-bar .item {
    border-radius: 0%;
    flex: none; 
    background-color: transparent;
    box-shadow: none;
    border: 2px solid #dfe0e1;
    
    border-radius: 4px;
    box-shadow: none !important;
} */

/* .layout__center .layout-tab-bar .item--focus {
    border-radius: 4px;
    box-shadow: unset;
} */


/* .dock--vertical div:first-child:not(:empty) span.dock__item--active {
    background-color: rgba(231,231,231, 1);
    transition: all .2s cubic-bezier(0.645, 0.045, 0.355, 1);
    position: relative;
} */

/*
#dockRight.dock--vertical div:first-child:not(:empty) span.dock__item--active::before {
    opacity: 1;
    transform: unset;
    margin: 0;
    border: unset;
    border-radius: unset;
    outline: unset;
    top: unset;
    bottom: unset;
    left: 0;
    width: 2px;
    height: 60%;
    background-color: #f65b00;
}

#dockLeft.dock--vertical div:first-child:not(:empty) span.dock__item--active::before {
    opacity: 1;
    transform: unset;
    margin: 0;
    border: unset;
    border-radius: unset;
    outline: unset;
    top: unset;
    bottom: unset;
    left: 0;
    width: 2px;
    height: 60%;
    background-color: #f65b00;
}
*/
/* .layout__center div[data-type=wnd] {
    position: relative;
    min-height: 10% !important;
    margin: 4px;
    border-radius: 6px;
    transition: all .28s cubic-bezier(0.38, 0, 0.24, 1) 0s;
    background-color: rgb(231, 44, 44);
    background-color: transparent;
} */

/* var(--b3-theme-surface) */

/* .protyle-content {
    overflow: overlay;
}

.layout-tab-container>.fn__flex-1 {
    overflow: hidden;
    min-width: 0;
}

.layout-tab-container {
    overflow-y: hidden;
    background-color: rgba(var(--page-1), 1);
} */