/* 各级标题 */
.protyle-wysiwyg [data-node-id].h1,
.b3-typography h1 {
  display: flex;
}

.protyle-wysiwyg [data-node-id].h2,
.b3-typography h2 {
  display: flex;
  color: #2E75B5;
}

.protyle-wysiwyg [data-node-id].h3,
.b3-typography h3 {
  display: flex;
  color: #BF9000;
}

.protyle-wysiwyg [data-node-id].h4,
.b3-typography h4 {
  display: flex;
  color: #70AD47;
}

.protyle-wysiwyg [data-node-id].h5,
.b3-typography h5 {
  display: flex;
  color: #E84C22;
}

.protyle-wysiwyg [data-node-id].h6,
.b3-typography h6 {
  display: flex;
  color: #8064A2;
}

.protyle-wysiwyg [data-node-id].h1:not([fold="1"]):before,
.b3-typography h1::before {
    content: "#";
    border-right: 3px solid #202124;
    padding-right: 0.2em;
    margin-right: 0.2em;
}

.protyle-wysiwyg [data-node-id].h2:not([fold="1"]):before,
.b3-typography h2::before {
  content: "#";
  color: #2E75B5;
  border-right: 3px solid #2E75B5;
  padding-right: 0.2em;
  margin-right: 0.2em;
}

.protyle-wysiwyg [data-node-id].h3:not([fold="1"]):before,
.b3-typography h3::before {
  content: "#";
  color: #BF9000;
  border-right: 3px solid #BF9000;
  padding-right: 0.2em;
  margin-right: 0.2em;
}

.protyle-wysiwyg [data-node-id].h4:not([fold="1"]):before,
.b3-typography h4::before {
  content: "#";
  color: #70AD47;
  border-right: 3px solid #70AD47;
  padding-right: 0.2em;
  margin-right: 0.2em;
}

.protyle-wysiwyg [data-node-id]:not([fold="1"]).h5:before,
.b3-typography h5::before {
  content: "#";
  color: #E84C22;
  border-right: 3px solid #E84C22;
  padding-right: 0.2em;
  margin-right: 0.2em;
}

.protyle-wysiwyg [data-node-id]:not([fold="1"]).h6:before,
.b3-typography h6::before {
  content: "#";
  color: #8064A2;
  border-right: 3px solid #8064A2;
  padding-right: 0.2em;
  margin-right: 0.2em;
}