/*块标题样式*/
@import url("./header.css");

/*嵌入块样式*/
@import url("./embed.css");

/* 引述块样式 */
@import url("./quote.css");

/* 超级块样式 */
@import url("./super.css");

/* 列表样式 */
@import url("./list.css");

/* 空行样式 */
@import url("./empty.css");